body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../public/images/star-wars.jpg');
    background-size: cover;
    background-attachment: fixed; 
}

.planet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-size: 3em;
    color: white;
}

.planet-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px;
    width: calc(50% - 20px); 
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    color: white;
}

.planet-card:hover {
    transform: translateY(-10px);
}

.planet-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.planet-card button a{
    text-decoration: none;
    color: white;
}

.planet-card button:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}
.btn{
    margin-left: 5%;
}
